<div class="movies-container">
  <div class="filters-wrapper">
    <app-filters [filterTitle]="'Top Rated'"></app-filters>
  </div>
  @if (topRatedMovies().length) {
  <div class="movies-grid-and-button">
    <div class="movies-grid">
      @for (topRatedMovie of topRatedMovies();track topRatedMovie.id) {
      <app-movie-card
        [title]="topRatedMovie.title"
        [posterPath]="topRatedMovie.poster_path"
        [releaseDate]="topRatedMovie.release_date"
        [voteAverage]="topRatedMovie.vote_average"
      >
      </app-movie-card>
      }
    </div>
    <button class="load-more-btn" (click)="onLoadNextPages()">Load More</button>
  </div>

  }
</div>
