.card-wrapper {
    display:flex;
    flex-direction: column;
    width: clamp(120px, 20vw, 160px);
    align-items: center;
    cursor: pointer;
    color: white;
    text-align: center;
    margin: clamp(10px, 2vw, 20px);

}

.profile {
    width:100%;
    height: clamp(160px, 20vw, 220px);
    object-fit: cover;
    border-radius: 8px;
}

.person-details {
    margin-top: clamp(8px, 1vw, 16px);
}

.person-details h3 {
    font-size: clamp(1rem, 1.5vw, 1.3rem);
    font-weight: bold;
}

.character,
.episodes {
    font-size: clamp(0.8rem, 1vw, 1rem);
    color: #cacaca;
    line-height: 1.4;
}