.details-container {
  display: flex;
  color: white;
  gap: 15px;
  padding: 15px;
  background-color: rgba(20, 20, 40, 0.6);
}

.poster-wrapper img {
  width: 300px;
  border-radius: 12px;
  object-fit: cover;
  margin-left: 100px;
}

.info-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.title {
  font-size: 30px;
  font-weight: 700;
}

.title .year {
  font-weight: 400;
  font-size: 25px;
  color: #ccc;
  margin-left: 5px;
}

.more-info {
  display: flex;
  font-size: 15px;
  gap: 8px;
  color: #bbb;
  margin-bottom: 15px;
}

.bullet {
  font-size: 15px;
  padding: 0 5px;
  color: #c7c7c7;
}

.rating-badge {
  background-color: rgba(53, 66, 69, 0.85);
  color: #f1b903;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.overview {
  font-size: 15px;
  line-height: 1.6;
  color: #ddd;
}

.crew-info {
  margin-top: 20px;
  font-size: 16px;
  color: #ccc;
}

.crew-type {
  margin-bottom: 8px;
}

a.person-link {
  color: #42b6d6;
  font-weight: 500;
  text-decoration: none;
}

a.person-link:hover {
  color: #61c9e6;
}

.job {
  font-style: italic;
  margin-left: 4px;
}

.cast-container {
  margin-top: 30px;
  margin-left: 110px;
     max-width: 1200px;
    flex-wrap: wrap;
   
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: white;
}

.cast-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.actions-container {
  display:flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.action-button {
  display:flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba(40, 40, 60, 0.6);
  border: 1px solid #555;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  color: #ddd;
  font-weight: 500;
  font-size: 1rem;
}

.action-button:hover {
  background-color: rgba(80, 80, 120, 0.8);
  color: white;
  transform: scale(1.02);
}

.icon {
  font-size: 1.2rem;
  color: #f1b903;
}

.rating-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 20px;
  flex-wrap: wrap;
}

.rating-label {
  font-weight: 600;
  color: #ccc;
}

.current-rating {
  font-size: 0.95rem;
  color: #bbb;
}

.custom-ngb-rating i {
  font-size: 23px;
  color: #f1b903;
 
}

.custom-ngb-rating i:hover {
  transform: scale(1.2);
  color: #ffd700;
}

.current-rating {
  font-size: 20px;
  font-weight: 500;
  color: #fffafa;
}