:host {
  display: block;
}
.footer-container {
  display: flex;
  flex-direction: row;
  background-color: #0d083a;
  color: #ffffffd9;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
  width: 100%;
  min-height: 100px;
}

h3 {
  color: rgb(206, 60, 15);
  font-size: 30px;
  font-family: cursive;
}

.footer-container p {
  margin: 0;
  font-size: 14px;
  margin-left: 30px;
  align-items: center;
}

.footer-links a {
  color: #ffffffb3;
  margin-left: 30px;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}
.footer-links {
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-links a:hover {
  color: #ffffff;
}

@media (max-width: 600px) {
  .footer-container {
    padding: 15px 10px;
  }

  .footer-links {
    gap: 10px;
  }
}
