<div class="modal-content p-0">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">{{modalTitle}}</h1>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      style="filter: invert(1)"
      (click)="onClose()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="video-container">
      <iframe
        id="youtubeIframe"
        width="100%"
        height="100%"
        [src]="'https://www.youtube.com/embed/' + youtubeUrl | safe"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
