.video-container {
  height: 600px;
}

.modal-title {
  opacity: 0.75;
}

.modal-header {
  color: white;
  background-color: black;
  border-bottom: none;
}

.modal-body {
  padding: 5px;
  background-color: black;
}
