<div class="movies-container">
  <app-filters
    (searchBtnClicked)="onSearchFromFilters($event)"
    [filterTitle]="'Popular Movies'"
    [resetOption] = "resetFilter()"
    [contentType]="'movie'"
  ></app-filters>

  @if (popularMovies().length){
  <div class="movies-grid-and-button" [class.fade-in]="!loading()">
    <div class="movies-grid">
      @for (popularMovie of popularMovies();track popularMovie.id) {
      <app-movie-card
        [title]="popularMovie.title"
        [posterPath]="popularMovie.poster_path"
        [releaseDate]="popularMovie.release_date"
        [voteAverage]="popularMovie.vote_average"
      >
      </app-movie-card>
      }
    </div>

    <button class="load-more-btn" (click)="onLoadNextPages()">Load More</button>
  </div>

  }
</div>
@if (loading()) {
<app-spinner />
}
