<h2>Popular Movies</h2>
<div class="movies-container">
  @if (popularMovies().length){
  <div class="movies-grid">
    @for (popularMovie of popularMovies();track popularMovie.id) {
    <div class="movies-column">
      <app-movie-card
        [title]="popularMovie.title"
        [posterPath]="popularMovie.poster_path"
        [releaseDate]="popularMovie.release_date"
        [voteAverage]="popularMovie.vote_average"
      >
      </app-movie-card>
    </div>

    }
    
  </div>
<button class="load-more-btn" (click)="onloadNextPages()">Load More</button>
  }
</div>
