<div class="filters-title">
  <h2>{{ filterTitle }}</h2>
</div>
<div ngbAccordion>
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton> Sort Results By</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
        <button
          *ngFor="let option of sortOptions"
          class="btn btn-outline-secondary btn-sm me-1 mb-1"
          [class.active]="option?.value && sortSelected() === option.value"
          (click)="onSortSelected(option.value)"
        >
          {{ option?.label }}
        </button>
           <div class="sort-search-btn">
          <button
            class="btn btn-primary"
            [disabled]="!sortSelected()"
            (click)="onSearch()"
          >
            Search
          </button>
        </div>
          </ng-template>
      </div>
    </div>
  </div>
</div>
