:host {
  max-width: 250px;
  display: block;
  min-height: 100vh;
  width: 100%;

  .filters-title {
    display: flex;

    width: 300px;
    color: white;
    max-height: 700px;
  }

  .sort-search-btn {
    margin-top: 10px;
  }


}
