/* You can add global styles to this file, and also import other style files */
body {
  background-image: linear-gradient(rgba(11, 37, 88, 0.793), rgb(31, 8, 69));

  background-attachment: fixed;
  

  --btn-hover: #f9d28c;
  --logo-color: #f4b860;

 
}


.dropdown-item:hover {
  background-color: rgb(219, 216, 209) !important;
}



/* @media only screen and (min-width: 700px) {
    html {
        --numberOfDiscoverColumns:2
    }
}

@media only screen and (min-width: 900px) {
    html {
        --numberOfDiscoverColumns:3
    }
}

@media only screen and (min-width: 1040px) {
    html {
        --numberOfDiscoverColumns:4
    }
}

@media only screen and (min-width: 1240px) {
    html {
        --numberOfDiscoverColumns:5
    }
} */
