<div class="movies-container">
  <app-filters
    [filterTitle]="'Upcoming'"
    (searchBtnClicked)="onSearchFromFilters($event)"
    [resetOption]="resetFilter()"
    [contentType]="'movie'"
  ></app-filters>

  @if (upcomingMovies().length) {
  <div class="movies-grid-and-button" [class.fade-in]="!loading()">
    <div class="movies-grid">
      @for (upcomingMovie of upcomingMovies();track upcomingMovie.id) {
      <app-movie-card
        [title]="upcomingMovie.title"
        [posterPath]="upcomingMovie.poster_path"
        [releaseDate]="upcomingMovie.release_date"
        [voteAverage]="upcomingMovie.vote_average"
        [movieId]="upcomingMovie.id"
        [mediaType]="'movie'"
      >
      </app-movie-card>
      }
    </div>
    <button class="load-more-btn" (click)="onLoadNextPages()">Load More</button>
  </div>

  }
</div>
@if (loading()) {
<app-spinner />
}
