<div class="movies-container">
  <app-filters [filterTitle]="'Upcoming'"></app-filters>

  @if (upcomingMovies().length) {
  <div class="movies-grid-and-button">
    <div class="movies-grid">
      @for (upcomingMovie of upcomingMovies();track upcomingMovie.id) {
      <app-movie-card
        [title]="upcomingMovie.title"
        [posterPath]="upcomingMovie.poster_path"
        [releaseDate]="upcomingMovie.release_date"
        [voteAverage]="upcomingMovie.vote_average"
      >
      </app-movie-card>
      }
    </div>
    <button class="load-more-btn" (click)="onLoadNextPages()">Load More</button>
  </div>

  }
</div>
