:host {
  display: block;

  .header-container {
    max-width: 1300px;
    flex-wrap: wrap;
    margin: auto;
  }
  .logo-container {
    cursor: pointer;
  }

  p {
  color: rgb(206, 60, 15);
  font-size: 50px;
  font-family:cursive;
  }
  .header-navbar {
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    cursor: pointer;
  }
  .navbar-options {
    font-weight: bold;
    margin: 10px;
    color: white;
  }
  .navbar-options:hover {
    color: rgb(223, 220, 213);
  }

  .login-btn {
    border: none;
    outline: none;
    padding: 4px 10px;
    background-color: rgb(206, 60, 15);
    color: white;
    font-weight: bold;
    border-radius: 30px;
    height: 40px;
    cursor: pointer;
  }
  .login-btn:hover {
    background-color: rgb(254, 48, 48);
  }
  .fa-user {
    margin-right: 5px;
  }
}
